/* .swiper-container {
  width: 100%;
}

.swiper-slide {
  background: #f1f1f1;
  color: #000;
  text-align: center;
} */

#certify3 {
  position: relative;
  margin: 0 auto;
}

#certify3 .swiper-container {
  padding-bottom: 60px;
  overflow: visible;
}

#certify3 .swiper-slide {
  width: 36%;
  background: #fff;
}
#certify3 .swiper-slide img {
  display: block;
  -webkit-box-reflect: below 20px -webkit-linear-gradient(transparent 60%, rgba(0, 0, 0, 0.3));
  box-reflect: below 20px linear-gradient(transparent 60%, rgba(0, 0, 0, 0.3));
}
#certify3 .swiper-slide p {
  line-height: 98px;
  padding-top: 0;
  text-align: center;
  color: #636363;
  font-size: 1.1em;
  margin: 0;
}

#certify3 .swiper-pagination {
  width: 100%;
  bottom: 20px;
}

#certify3 .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
  border-radius: 0;
  background-color: #f7f7f7;
  width: 20px;
  height: 6px;
  opacity: 1;
}

#certify3 .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #00aadc;
  width: 60px;
}

#certify3 .swiper-button-next:after,
.swiper-button-prev:after {
  color: #d1dddd;
}

#certify3 .swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  color: #00c9d0;
}

#certify3 .swiper-button-prev {
  left: 28%;
  top: 110%;
  width: 45px;
  height: 45px;
}

#certify3 .swiper-button-prev:hover {
  background-position: 0 -46px;
  background-size: 100%;
}

#certify3 .swiper-button-next {
  right: 28%;
  top: 110%;
  width: 45px;
  height: 45px;
}

#certify3 .swiper-button-next:hover {
  background-position: 0 -139px;
  background-size: 100%;
}
