.header {
  &::after {
    content: ' ';
    @apply absolute bottom-0 left-6 right-6 border-0 lg:border-b border-white border-opacity-10;
  }
}

.header-menu {
  @apply flex;
  .menu-item a {
    @apply px-2 xl:px-3 2xl:px-4 py-4 lg:py-5 xl:py-6 block uppercase text-xs lg:text-sm whitespace-nowrap;
  }
  .menu-item.active a,
  .menu-item a:hover {
    color: #FE5E10;
    @apply relative;
    &::after {
      content: ' ';
      color: #FE5E10;
      @apply absolute left-0 right-0 -bottom-3 h-0.5 bg-transparent lg:bg-current;
    }
  }
  .menu-item.language a {
    &::after {
      @apply bg-transparent;
    }
  }
}

.menu-wrap {
  @apply flex hidden lg:block xl:block 2xl:block absolute lg:relative xl:relative 2xl:relative;
  &.active {
    @apply block lg:hidden xl:hidden 2xl:hidden bg-white top-14 left-6 right-6;
    .header-menu {
      @apply block;
    }
  }
}
