.pbg {
  width: 1280px;
  height: 390px;
  background-image: url(./imgs/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  @apply mt-40 mb-24 mx-auto relative;
}
.dian {
  color: #17807b;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  @apply absolute;

  .dian-tit {
    width: 150px;
    @apply absolute;
  }
}
.meto {
  color: #c8171e;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  @apply absolute;

  .meto-tit {
    @apply absolute;
  }
}

.dian1 {
  background-image: url(./imgs/d1.png);
  width: 104px;
  height: 145px;
  left: 120px;
  top: 80px;
  .dian-tit {
    right: 80px;
    text-align: right;
  }
}
.dian2 {
  background-image: url(./imgs/d2.png);
  width: 67px;
  height: 107px;
  top: -90px;
  left: 355px;

  .dian-tit {
    right: 90%;
    text-align: right;
  }
}

.meto1 {
  background-image: url(./imgs/meto1.png);
  width: 76px;
  height: 185px;
  top: 23%;
  left: 28%;

  .meto-tit {
    right: 88%;
    width: 115px;
    text-align: right;
  }
}

@keyframes identifier-data-v-1 {
  0% {
    top: 70px;
  }
  100% {
    top: 50px;
  }
}
.dian3 {
  background-image: url(./imgs/d3.png);
  width: 223px;
  height: 331px;

  left: 39%;
  top: -35%;

  transform: translateY(-185px);
  animation: identifier-data-v-1 1.6s linear infinite alternate;

  .dian-tit {
    left: 63%;
  }
}

.meto2 {
  background-image: url(./imgs/meto2.png);
  width: 60px;
  height: 120px;
  left: 55%;
  top: 35%;
  .meto-tit {
    width: 115px;
    left: 85%;
  }
}

.dian4 {
  background-image: url(./imgs/d4.png);
  width: 152px;
  height: 300px;
  top: -8%;
  left: 62%;
  .dian-tit {
    left: 63%;
  }
}
.dian5 {
  background-image: url(./imgs/d5.png);
  width: 190px;
  height: 110px;
  right: 2%;
  top: 18%;
  .dian-tit {
    left: 115px;
  }
}
