/* .swiper-container {
  width: 100%;
}

.swiper-slide {
  background: #f1f1f1;
  color: #000;
  text-align: center;
} */

#sliderDesign .slider {
  /* width: 1200px; */
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#sliderDesign .swiper-container {
  overflow: visible;
  @apply pb-8 lg:pb-12;
}

#sliderDesign .swiper-slide {
  /* width: 1320px; */
  width: 80%;
  /* height: 740px; */
  background: none;
  /* box-shadow: 0 8px 30px #ddd; */
  /* overflow: hidden; */
}
#sliderDesign .swiper-slide img {
  margin: auto;
  width: 100%;
  display: block;
}
#sliderDesign .swiper-slide p {
  line-height: 98px;
  padding-top: 0;
  text-align: center;
  color: #636363;
  font-size: 1.1em;
  margin: 0;
}

#sliderDesign .swiper-pagination {
  width: 100%;
  bottom: 0px;
}

#sliderDesign .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
  border-radius: 0;
  background-color: #cfe4e5;
  width: 20px;
  opacity: 1;
  @apply w-3 lg:w-4 xl:w-5 h-1 xl:h-2;
}

#sliderDesign .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #00c9d0;

  @apply w-9 lg:w-12 xl:w-16;
}

#sliderDesign .swiper-button-prev {
  left: 0px;
  width: 45px;
  height: 45px;
  background: url('../../assets/left.png');
  /* background: url(./wm_button_icon.png) no-repeat; */
  /* background-position: 0 0; */
  background-size: 100%;
  @apply hidden lg:block;
}

#sliderDesign .swiper-button-prev:hover {
  /* background-position: 0 -46px; */
  background-size: 100%;
}
#sliderDesign .swiper-button-next {
  right: 0px;
  width: 45px;
  height: 45px;
  background: url('../../assets/right.png');
  /* background: url(./wm_button_icon.png) no-repeat; */
  /* background-position: 0 -93px; */
  background-size: 100%;
  @apply hidden lg:block text-right;
}

#sliderDesign .swiper-button-next:hover {
  /* background-position: 0 -139px; */
  background-size: 100%;
}

#sliderDesign .swiper-button-next:after,
.swiper-button-prev:after {
  content: '';
}

#sliderDesign .index {
  &::before {
    content: ' ';
    border-color: rgba(185, 154, 138, 0.58);
    @apply h-px border-t pt-px w-full absolute top-3.5;
  }
}
